<h2 id="profile-header">Profile Page for <%= @user.email %></h2>
<div class="row">
  <div class="col-sm-6">
    <h3>Your Tweets:</h3>
    <div id="statuses">
      <ul id="tweet_list">
        <%= render @user.tweets %>
      </ul>
    </div>
  </div>
  <div class='col-sm-6'>
    <%= form_tag(user_path(@user), :method => 'get', id: 'search-form') do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "search", :class => "btn btn-primary" %>
      </div>
    <% end %>
    <% @results = User.find_by_search(params[:search]) %>
    <ul>
      <% if params[:search] != nil %>
        <% @results.each do |result| %>
          <li id='follow_<%= result.id %>'>
              <%= result.email %>
              <%= form_for [result, Relationship.new], remote: true do |f| %>
                <%= f.hidden_field :followed_id, :value => result.id %>
                <%= f.submit "Follow" %>
              <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<%= link_to "Home", tweets_path, :class => 'btn btn-primary' %>
<%= link_to "Add Tweet", new_tweet_path, :id => 'new_tweet', :class => 'btn btn-primary', remote: true %>
